version: "3.8"

services:
  postgres:
    image: postgres:17
    restart: always
    env_file: "./config.env"
    environment:
      # POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD = ${POSTGRES_PASSWORD:?Error: POSTGRES_PASSWORD is required}
    volumes:
      - ./migrations:/docker-entrypoint-initdb.d
      - ./databases:/var/lib/postgresql/data
    ports:
    - "5432:5432"
    command:
    - "postgres"
    - "-c"
    - "max_connections=200"
    - "-c"
    - "shared_buffers=256MB"
    - "-c"
    - "effective_cache_size=1GB"
    - "-c"
    - "maintenance_work_mem=64MB"
    - "-c"
    - "checkpoint_completion_target=0.9"
    - "-c"
    - "wal_buffers=16MB"
    - "-c"
    - "default_statistics_target=100"
    - "-c"
    - "random_page_cost=1.1"
    - "-c"
    - "effective_io_concurrency=200"
    - "-c"
    - "work_mem=2621kB"
    - "-c"
    - "min_wal_size=1GB"
    - "-c"
    - "max_wal_size=4GB"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d walletsdb"]
      interval: 10s
      timeout: 5s
      retries: 5
      
  walletapi:
    build:
        context: .
        dockerfile: Dockerfile
    restart: on-failure
    env_file:
    - ./config.env
    depends_on:
      postgres:
        condition: service_healthy
    ports:
    - "8080:8080"
    volumes:
        - ./config.env:/app/config.env
        - ./logs:/app/logs/